{% extends "index.html" %}


{% block mainContent %}

<div class="my-5 container d-flex align-self-center align-items-center justify-content-center">
        <div class="card col-7 align-items-center border-primary">
                    <div class="card-header w-100 text-center text-white bg-primary">
                        <h3 class="p-3">{{mainPageTitle}}</h2>
                    </div>
                    <div class="card-body  w-75">
                        <form action="" id="fCreteUser" method="post" class="d-flex justify-content-center flex-column align-items-center">
                            {% csrf_token %}
                            {% for ele in form  %}
                                <div class="mb-3 w-100">
                                        <label for="{{ ele.id_for_label }}" class="form-label">{{ ele.label }}</label>
                                        <input type="{{ ele.field.widget.input_type }}" class="form-control" name="{{ ele.name }}" id="{{ ele.id_for_label }}">
                                        <div id="ele.id_for_label" class="form-text">{{ ele.help_text }}</div>
                                </div>
                            {% endfor %}
                                <input class="btn btn-primary my-3 w-100 py-3 fs-4" type="submit" value="Add User" id="btn_enviar">
                       </form> 
                </div>
        </div>
</div>



{% endblock mainContent %}